<app-header></app-header>

<div>
<h1> First Angular Application !!!</h1>

</div>
<app-parent></app-parent>


<app-addproduct></app-addproduct>

<div>
    <h3> switch example </h3>
    <div [ngSwitch]="choice">
        <p *ngSwitchCase="'A'"> Apple </p>
        <p *ngSwitchCase="'B'"> bbbb </p>
        <p *ngSwitchCase="'C'"> cccc </p>
        <p *ngSwitchCase="'D'"> ddd.. </p>
        <p *ngSwitchCase="'E'"> El.. </p>
        <p *ngSwitchDefault> Other </p>
    </div>
</div>
<!-- <app-user></app-user> -->
<!-- <app-task></app-task> -->
<app-footer></app-footer>
<h1 appMystyle> Pipe Example </h1>
<div>
    <p> {{ text}} </p>
    <!-- upppercase('text') -->
    <p> {{ text | uppercase }} </p>   
    <p> {{ text | lowercase }} </p>

    <p> {{  data | total}}</p>
    <p> {{ names | sorting:'asc'}} </p>
    <p appMystyle> {{ names | sorting:'desc'}} </p>
</div>
